form {
      border: 5px black solid;
    width: 500px;
    height: 400px;
   padding: 20px 10px 10px 10px;
}

.color {
    
    border: 2px black solid;   
    padding: 10px 10px 10px 10px;
    
}

input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
}
input {
    height: 2.5em;
    vertical-align: middle;
}
.eli{
    color: red;
}

            


    
    
    